* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */

.navbar {
    position: fixed;
    width: 100%;
    background-color: #fff;
    padding: 15px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: red;
}

.main-banner {
    padding: 50px;
    background-image: url('./images/cons.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-banner .container {
    background: aergeafvzd;
    background-size: contain;
    background-position: center bottom;
    height: 420px;
}

.main-banner .mission-statement {
    width: 70%;
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 100px;
}

.main-banner p {
    width: 70%;
    font-size: large;
}

/* .problem-solving {

} */

.problem-solving {
    background-color: #000;
    color: #fff;
    padding: 30px;
    font-size: large;
    height: 450px;
}

.problem-solving .container p {
    width: 70%;
    text-align: center;
    padding-left: 30px;
    margin: 80px 80px;
}

.specialisms {
    height: auto;
}

.specialisms-header {
    margin: 10px;
    text-align: center;
    padding: 30px;
}

.specialisms .container {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;
    flex-direction: row;
    flex-wrap: wrap; */
    margin-bottom: 50px;

}

.specialisms .xxxx-icons {
    display: flex;
    background-color: lightgrey;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    font-size: 14px;
    text-align: center;
    max-width: 300px;

}

.testimonials {
    padding: 40px 0;
    background-color: #000;
    color: #fff;
    height: 400px;
}


.testimonials-heading {
    width: 70%;
    margin-bottom: 30px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 70%;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.testimonials .reference p:nth-child(2) {
    margin-top: 30px;
    font-weight: bold;
}

.reference {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
}

.footer {
    color: #000;
    background-color: #fff;
    padding: 20px 0;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #000;
    transition: 0.5s;
}

.footer ul li a:hover {
    color: red;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
}

/* Button */

.btn {
    display: inline-block;
    padding: 3px 7px;
    background-color: lightgray;
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn {
    opacity: 0.75;
}

/* Multiple use classes */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container small {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.hamburger {
    display: none;
    background: none;
    cursor: pointer;
    border: none;
    padding: 10px;
    z-index: 1000;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0px;
    right: -500px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: 0, 0, 10px rgba(0, 0, 0, 0.2);
    transition: right 10.5s ease-in-out;
}

.mobile-menu.active {
    display: block;
    right: 0;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    transition: 0.3s;
}

.mobile-menu ul li a:hover {
    color: red;
}


@media (max-width: 960px) {
    .main-banner .mission-statement {
        font-size: x-large;
    }

    .main-banner p {
        font-size: medium;
    }

    .problem-solving {
        height: auto;
    }

    .testimonials .testimonials-grid {
        width: 100%;
    }

    .specialisms .xxxx-icons {
        margin: auto;
    }
}

@media (max-width: 670px) {
    .navbar .main-menu {
        display: none;
    }

    .navbar .hamburger {
        display: block;
    }

    .main-banner p {
        width: 100%;
    }

    .problem-solving .container p {
        height: auto;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .specialisms .xxxx-icons {
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .testimonials-grid,
    .footer-grid {
        grid-template-columns: 1fr;
    }

    .testimonials {
        height: auto;
    }

    .testimonials-heading {
        text-align: center;
    }

    .reference {
        margin-bottom: 10px;
    }

    .footer .footer-grid {
        margin-top: 30px;
    }

    .footer .company {
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {}